:root{
    ---background:#ffff ;
    ---accent1:#1f2937;
    ---accent2: #333333;
    ---grey:#6B7280;
    ---pink:#EC4899;
    ---light:#EEE;
    ---purple:#8B5CF6
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(---background);
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(---grey);
    margin-bottom: 1rem;
}
#new-task-form {
    display: flex;
    align-items: center;
}
#new-task-input {
    flex: 1 1 0%;
    background-color: var(---accent1);
    padding: 1rem;
    margin-right: 1rem;
    color: var(---light);
    font-size: 1.25rem;
    border-radius: 20px;
}
#new-task-input::placeholder {
color: var(---grey);
}

#new-task-submit{
    color: var(---pink);
    font-size: 1.25rem;
    border: 1px solid lightblue;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 700;
    background-image: linear-gradient(to right,var(---pink),var(---purple));
    transition: 0.4s;
    padding: 10px;
}

#new-task-submit:hover{
    opacity: 0.8;
}
main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 1rem;
}
.task-list h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(---grey);
    margin-bottom: 1rem;
}
.task.content {
    flex: 1 1 0%;
}
.task.content.text {
    color: var(---light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;   
}
.task .actions {
    display: flex;
    margin: 0 0.5rem;
    align-items: center;
}
.task .actions button {
        cursor: pointer;
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.4s;
        margin-right: 0.5rem; 
        padding: 5px 10px;  
    }
    #tasks .task {
        display: flex;
        justify-content: space-between;
        background-color: var(---accent1);
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
    .task .actions button:hover {
        opacity: 0.8;
    }
    .task.actions.button:active{
        opacity: 0.6;
    }
    .task .actions .edit {
        position: relative;
        padding: 5px 10px;
        background-image: linear-gradient(to right,var(---pink),var(---purple));
    }

    .task .actions .delete {
        position: relative;
        padding: 5px 10px;
        color: red;
        background-color: black;
    }